.profile__avatar {
  max-width: 120px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1;
  display: block;
  mask-image: radial-gradient(black 60px, transparent 60px);
  -webkit-mask-image: radial-gradient(black 60px, transparent 60px);
}

.profile__avatar:hover {
  opacity: 0.2;
  cursor: pointer;
}

.profile__avatar:hover~.profile__edit-icon {
  visibility: visible;
}