.auth__input {
    background: none;
    padding: 0;
    margin: 0;
    height: 27px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ccc;
    border-bottom: 2px solid #ccc;
}

@media screen and (max-width: 1000px) {
    .auth__input {
        margin: 18px 22px 0;
    }
}