.auth {
    max-width: 1280px;
    margin: 0 calc((100% - 880px) / 2);
    padding: 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .auth {
        margin: 0 200px;
    }
}

@media screen and (max-width: 1000px) {
    .auth {
        margin: 0;
        padding: 40px 0 0;
    }
}